<div class="sign-box">
	<form class="sign-form">
		<fieldset>
			<legend>Cadastrar</legend>
			<div class="sign-validate">
				<p>Preencha todos os campos</p>
			</div>
			<div class="sign-inputs">
				<input type="email" name="mail" placeholder="E-mail" />
				<input type="password" name="pass" placeholder="Senha" />
				<input type="password" name="pass-confirm" placeholder="Senha novamente" />
				<input type="submit" value="Cadastrar" />
			</div>
		</fieldset>
	</form>
	<div class="sign-links">
		<a href="login">Entrar</a>
	</div>
</div>
